<div class="inner cover">
  <h1 class="cover-heading">MonthOneHwApp</h1>
  <p class="lead">“Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary." - Steve Jobs</p>
  <p class="lead">
    <%= link_to "About", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
